.btnRegresar{
    margin-left: 112px;
}
.form-container{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
#title{
    padding-bottom: 20px;
}
.divBotones{
    margin-bottom: 16px;
}

