<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand cursor" (click)="navHome()">Web Peliculas</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <button *ngIf="usuarioServ.esAdminVariable" class="btn btn-outline-success ml-1" type="submit" (click)="navAdminUsuariosPage()">Administrar Usuarios</button>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <div class="d-flex">
          <input #txtBuscar class="form-control me-2" type="search" placeholder="Buscar" (keyup.enter)="buscarPelicula(txtBuscar.value)">
          <button class="btn btn-outline-success" type="submit" (click)="buscarPelicula(txtBuscar.value)">Buscar</button>
          <button *ngIf="!usuarioServ.isLoggedIn" class="btn btn-outline-success btnIniciar" type="button" (click)="navIniciarSesionPage()">Iniciar Sesión</button>
          <button *ngIf="usuarioServ.isLoggedIn" class="btn btn-outline-success btnPerfil" type="button" (click)="navPerfilPage()">Perfil</button>
          <button *ngIf="usuarioServ.isLoggedIn" class="btn btn-outline-success btnPerfil" type="button" (click)="cerrarSesion()">Cerrar Sesión</button>

        </div>
        
        
      </div>
    </div>
  </nav>