/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.cursor{
    cursor: pointer;   
}
.btnIniciar, .btnPerfil{
    margin-left: 8px;
    white-space: nowrap;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
